<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"></div>
          <div class=" card-body">


            <h4 class=" card-title"> My transfers  <i class="far fa-paper-plane"></i></h4>

<table id="table" >
<thead>
    <tr><th>Id</th><th>Debtor</th><th>Creditor</th><th>Sent</th><th>Received</th><th>Created date</th></tr>
</thead>
<tbody>
    <tr *ngFor="let data of virement">
        <td>{{data.id}}</td>
        <td>{{data.debiteur.numero}}</td>
        <td>{{data.creancier.numero}}</td>
        <td>{{data.sommeEnv}} </td>
        <td>{{data.sommeRecu}}</td>
        <td>{{data.date  | date }}</td>
    </tr>
</tbody>

</table>



</div>
<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>

</div>
</div>
</div>
</div>
