
.wrapper {
	display: inline-block;
	margin-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 0px;
	width: 100%;
}
#main-content {
	margin-left: 210px;
    margin-right: 50px;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  width: 100%;
}

#table td, #table th {
  border: none;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #dfdfdf27;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(211, 211, 211, 0.075);
  border: solid 1px;
  border: none;
  color: #ff53a3;
}


mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
