<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"></div>
        <div class=" card-body">
          <h4 class=" card-title"> My Appointments  <i class="far fa-bell"></i></h4>


        <form #f="ngForm" [formGroup]="Form">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Motif</label>
              <textarea class="form-control" placeholder="Hello, I want an appointment about ..." id="exampleFormControlTextarea1" rows="3" formControlName="motif" ></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="onAddAppointment(f.value)">Send</button>
              </div>
          </form> 
   




<table class="table">
    <thead>
      <tr>
        <th scope="col">id </th>
        <th scope="col">motif</th>
        <th scope="col">request date</th>
        <th scope="col">appointment date</th>

        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{appointment.id}}</td>
        <td>{{appointment.motif}}</td>
        <td>{{ appointment.dateDemande | date:'short' }}</td>
        <td>{{ appointment.dateRdv | date:'short' }}</td>
        <td>{{appointment.status}}</td>


  


      </tr>
    </tbody>
  </table>
  <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>

</div>
</div>
</div>
</div>
</div>
