


 

  <div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          
          <div class=" card-body">
            
           
            
            
                <h4 class=" card-title">My accounts <i class="far fa-credit-card"></i></h4>
                
                
                  <div class="cardList">
                    <ng-container *ngFor="let account of accounts" >
                      <div class="cardListItem"> 
                        <h3><span class="blue">Account number:</span> {{ account.numero }}</h3>
                        
                        <h1 class="solde">
                          Balance : {{ account.solde | number: "1.2-2" }} MAD
                        </h1>
                       
                        <button
                          mat-raised-button
                          color="primary"
                          [routerLink]="['/compte', account.id, 'virements']"
                        >
                          View my activities
                        </button>
                        <button
                          mat-raised-button
                          color="primary"
                         (click)="open(content)"
                         
        
                        >
                          Transfer money
                        </button>
                  
                        
                        <ng-template #content let-c="close" let-d="dismiss">
                          <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>

                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <h3 style="color: black;"><span class="blue">Debtor account number:</span> {{ account.numero }}</h3>
                                    
                            <h1 style="color: black;" class="solde">
                              Balance : {{ account.solde | number: "1.2-2" }}
                            </h1>
                            <form #f="ngForm"  class="form"   >
                              
                              <div class="form__field">
                                <label>debtor :</label>
                                <input  type="text"  ngModel="{{ account.numero }}" name="debiteur" readonly="true" >
                              
                              </div>
                              <mat-error *ngIf="accountNotFound">
                                Account number invalid.
                              </mat-error>
                              <div class="form__field">
                                
                               <label>creditor :</label>
                                <input type="text" placeholder="XXXXX" name="creancier" ngModel required>
                              </div>
                            
                              
                              
                              <div class="form__field">
                                <label>Amount :</label>
                                <input type="text" placeholder="XX.XX" name="somme" ngModel required>
                              </div>
                        
                          <div class="modal-footer">
                          
                            <button [disabled]="f.invalid" type="submit" type="button" class="btn btn-outline-dark" (click)="onSubmit(f.value)" >Save</button>
                          </div>
                        </form>
                      </div>
                          
                        </ng-template>
                  
                      </div>
                      </ng-container>
                  </div>
             
            
    
          </div>
          <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>

        </div>
      </div>
    </div>
  </div>



    
